@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  width: 0;
}
::-webkit-scrollbar-thumb:active {
  background: #00355ef0 !important;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 73, 101, 0.571);
  width: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
}
body {
  background-image: url("../public/Cbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background: rgba(41, 59, 57, 0.33);
  border-radius: 12px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px) saturate(180%);
  -webkit-backdrop-filter: blur(5.8px) saturate(180%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid rgba(41, 59, 57, 0.33);
}
.search {
  background: rgba(4, 73, 96, 0.502);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}
svg:hover {
  color: #299bc1;
}

.chatbox:hover::-webkit-scrollbar-thumb {
  background: rgba(13, 78, 106, 0.79);
  width: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
}
.details:hover::-webkit-scrollbar-thumb {
  background: rgba(13, 78, 106, 0.79);
  width: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
}

.chat:hover::-webkit-scrollbar-thumb {
  background: rgba(13, 78, 106, 0.79);
  width: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) ;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
}

